@use "../../styles/globals" as globals;

.homePageImage {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}
.movieImg {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.movieTekst {
  padding: 10px;
  margin: auto;
}
.mainCard {
  display: flex;
  flex-direction: row;
}
