@use "../../styles/globals" as globals;

.homePageImage {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}
.daddy {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.mommy {
  display: flex;
  flex-direction: column;
}
