@use "../styles/globals" as globals;

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 8px;
  background-color: globals.$color_bg_white;
  max-width: 65vw;
  margin: auto;
  padding: 0 10vw 0 10vw;
}
